.NavLink{
    font-size: 30px;
    margin: 20px 0 0 20px;
    display: inline-block;
    text-decoration: none;
    color: black;
    font-family: sans-serif;
}

.NavLink::after{
    display:block;
    content: '';
    width: inherit;
    border-bottom: solid 3px black;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
    transform-origin: left;
}

.NavLink:hover:after { transform: scaleX(1); }