.NavLink{
    width: 150px;
    background-color: #7395AE;
    padding: 10px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 7px;
   display: flex;
   justify-content: center;
   margin: 10px auto 70px auto;
    text-decoration: none;
    color:rgb(0, 0, 0);
    border-width:3px;
    border-style:solid;
    border-color: #556e7f;
}

.NavLink:hover{
    background-color: #536b7d;
}

@media (max-width:586px){
    .NavLink{
        font-size: 25px;
        margin: 20px 0 20px 20px;
    }
}