.blok{
    border-width:1px;
    border-style:groove;
    border-color: #867b73;
    color:rgb(0, 0, 0);
    background-color:#B1A296;
    margin: 10px auto 30px auto;
    border-radius: 15px;
    width: 650px;
    height: 600px;
    -webkit-box-shadow: 0px 5px 28px 21px rgba(0, 0, 0, 0.42);
    -moz-box-shadow: 0px 5px 28px 21px rgba(0, 0, 0, 0.42);
    box-shadow: 0px 5px 28px 21px rgba(0, 0, 0, 0.42);
    box-shadow: 0 0 1px #675e58, 0 0 2px #675e58, 0 0 6px #675e58, 0 0 12px #675e58, inset 0 0 1px #675e58, inset 0 0 2px #675e58, inset 0 0 6px #675e58, inset 0 0 12px #675e58;
}

.text{
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

.flex{
  display: flex;
}

.div{
  margin-top: 45px;
  display: flex;
  justify-content:end;
}

.linie{
  width: 280px; 
  padding: 7px;
  font-size: 25px;
  margin: 20px 0 0 20px;
  border-radius: 30px;
  border-color: #556e7f;
  border-width: 3px;
  border-style:solid;
}

.Answers0{
  font-weight: 700;
  font-size: 15px;
  text-align: center
}

.NavLink{
  font-weight: 700;
    font-size: 25px;
    margin: 15px 60px 0 130px;
    display: inline-block;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: sans-serif;
}

.NavLink::after{
    display:block;
    content: '';
    width: inherit;
    border-bottom: solid 3px rgb(0, 0, 0);  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
    transform-origin: left;
}

.NavLink:hover:after { transform: scaleX(1); }

.Question{
  font-weight: 700;
    font-size: 30px;
    text-align: center;
}

  .linieQuestion{
    width: 80%;
    padding: 7px;
    font-size: 25px;
    margin: 0 0 0 50px;
    border-radius: 30px;
    border-color: #556e7f;
    border-width: 3px;
    border-style:solid;
  }

  .Answers{
    font-weight: 700;
    font-size: 25px;
    text-align: center
  }

  .input{
    display: flex;
  }

  .correct{
    margin: 5px 0 0 70px ;
    font-weight: 700;
    font-size: 20px;
  }

  .button {
    width: 120px;
    padding: 20px;
    font-size: 15px;
    font-weight: 700;
    background-color: #7395AE;
    border-radius: 7px;
    border-width:3px;
    border-style:solid;
    border-color: #556e7f;
}

.button:hover{
  background-color: #536b7d;
}

.Forms{
  display: flex;
}

@media (max-width:586px){
  .Question{
    font-size: 20px;
  }
  .blok{
    width: 400px;
    height: 450px;
  }
  .linieQuestion{
    width: 70%;
    height: 30px;
    font-size: 25px;
    border-radius: 30px;
    border-color: #51b7ff;
    border-width: 5px;
  }
  .correct{
    margin: 5px 0 0 42px ;
    font-size: 15px;
  }
  .linieTimer{
    width: 18px;
    margin: 0 35px 0 0;
  }
  .Timer{
    font-size: 20px;
    margin: 5px 15px 0 22px;
  }
  .button {
    width: 70px;
    height: 40px;
    font-size: 10px;
}
.NavLink{
  font-size: 20px;
  margin: 20px 30px 0 60px;
}
.linie{
  width: 60%;
  height: 30px;
  font-size: 25px;
  margin: 10px 0 0 35px;
  border-radius: 30px;
  border-color: #51b7ff;
  border-width: 5px;
}
}