
.home{
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.blok{
    display: flex;
    flex-direction: column;
    margin: 0 200px 0 20px;
}

.blok1{
    display: flex;
    flex-direction: column;
    margin: 0 20px 0 0px;
}

.schoolboy{
    width: 80px;
    align-self:center;
}

.preschooler{
 width: 100px;
 margin: 10px auto 0 auto;
}

.text{
    display: flex;
    color: rgb(0, 0, 0);
    font-weight: 600;
}

.text{
    margin:10px auto 10px auto;
}

.text0{
    margin:10px auto 10px auto;
}

.NavLink0{
    border-radius: 7px;
    background-color: #7395AE;
    text-align: center;
    height: 80px;
    padding: 10px;
    width: 300px;
    margin: 0 auto 0 auto;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 30px;
    font-weight: bolder;
    border-width:3px;
    border-style:solid;
    border-color: #556e7f;
}

.NavLink0:hover{
    background-color: #556e7f;
}

@media (max-width:666px){
    .text0{
font-size: 10px;
    }
    .text1{
        font-size: 10px;
            } 
  }