.form{
    display: flex;
}

.schoolboy{
    width: 80px;
    margin: 10px auto 0 auto;
}

.img{
    display: flex;
}

.preschooler{
 width: 100px;
 margin: 10px auto 0 auto;
}

.text{
    display: flex;
}

.form0{
    margin: 0px auto 0px auto;
}

.form1{
    margin: 0px auto 0px auto;
}

.information{
    margin:10px auto 10px auto;
    color: brown;
    font-size: 10px;
}

.text{
    margin:10px auto 10px auto;
}

.information0{
    margin:10px auto 10px auto;
    color: brown;
    font-size: 10px;
}

.text0{
    margin:10px auto 10px auto;
}

.text1{
    margin:10px auto 10px auto;
}

.NavLink0{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 30px;
    font-weight: bolder;
}

.NavLink0::after{
    display:block;
    content: '';
    width: inherit;
    border-bottom: solid 3px rgb(0, 0, 0);  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
    transform-origin: top;
}

.NavLink0:hover:after { transform: scaleX(1); }

.NavLink1{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 30px;
    font-weight: bolder;
}

.NavLink1::after{
    display:block;
    content: '';
    width: inherit;
    border-bottom: solid 3px rgb(0, 0, 0);  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
    transform-origin:top;
}

.NavLink1:hover:after { transform: scaleX(1); }

@media (max-width:586px){
    .NavLink0{
        font-size: 20px;
    }
    .NavLink1{
        font-size: 20px;
    }
    .information0{
        font-size: 8px;
    }
    .information{
        font-size: 8px;
    }
    .preschooler{
        width: 70px;
        height: 70px;
       }
       .schoolboy{
        width: 50px;
        height: 70px;
    }
    .text0{
font-size: 10px;
    }
    .text1{
        font-size: 10px;
            }
  }