.blok{
    border-width:3px;
    border-style:groove;
    border-color: #867b73;
    color:rgb(0, 0, 0);
    background-color:#B1A296;
    border-radius: 30px;
    width: 680px;
    height: 640px;
    margin: 20px 0 100px 0;
    -webkit-box-shadow: 0px 5px 28px 21px rgba(0, 0, 0, 0.42);
    -moz-box-shadow: 0px 5px 28px 21px rgba(0, 0, 0, 0.42);
    box-shadow: 0px 5px 28px 21px rgba(0, 0, 0, 0.42);
    box-shadow: 0 0 1px #675e58, 0 0 2px #675e58, 0 0 6px #675e58, 0 0 12px #675e58, inset 0 0 1px #675e58, inset 0 0 2px #675e58, inset 0 0 8px #675e58, inset 0 0 15px #675e58;
}


.noText{
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color:aliceblue;
}

.flex{
    display: flex;
    justify-content: center;
}

.img{
    width: 240px;
    height: 180px;
    border-radius: 5px;
    margin: 15px 10px 0 60px;
}

.text{
    font-size: 24px;
    margin: 100px 0 0 50px;
}

.QuestionText{
    font-size: 35px;
    text-align: center;
    font-weight: 700;
    margin: 20px;
}

.Question{
    font-size: 30px;
    text-align: center;
    font-weight: 700;
    margin: 20px;
}

.Answers{
    font-size: 30px;
    text-align: center;
    font-weight: 700;
    margin: 20px;
}

  
  @media (max-width:586px){
    .blok{
        width: 360px;
        height: 450px;
        }
        .button{
            width: 100px;
            height: 60px;
        }
        .NavLink0{
            margin: 150px 0 0 30px;
        }
        .img{
            width: 110px;
            height: 70px;
            border-radius: 20px;
            margin: 15px 10px 0 45px;
        }
    }