.blok{
    border-width:3px;
    border-style:groove;
    border-color: #867b73;
    color:rgb(0, 0, 0);
    background-color:#B1A296;
    margin: 150px auto 150px auto;
    border-radius: 30px;
    width: 680px;
    height: 650px;
    -webkit-box-shadow: 0px 5px 28px 21px rgba(0, 0, 0, 0.42);
    -moz-box-shadow: 0px 5px 28px 21px rgba(0, 0, 0, 0.42);
    box-shadow: 0px 5px 28px 21px rgba(0, 0, 0, 0.42);
    box-shadow: 0 0 1px #675e58, 0 0 2px #675e58, 0 0 6px #675e58, 0 0 12px #675e58, inset 0 0 1px #675e58, inset 0 0 2px #675e58, inset 0 0 8px #675e58, inset 0 0 15px #675e58;
}

.noText{
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color:aliceblue;
}

.flex{
    display: flex;
    justify-content: end;
}

.NavLink{
    font-size: 25px;
    display: inline-block;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: sans-serif;
}

.NavLink::after{
    display:block;
    content: '';
    width: inherit;
    border-bottom: solid 3px rgb(0, 0, 0);  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
    transform-origin: right;
}

.NavLink:hover:after { transform: scaleX(1); }

.NavLink0{
    font-size: 25px;
    margin: 80px 0 0 30px;
    display: inline-block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: sans-serif;
}

.NavLink0::after{
    display:block;
    content: '';
    width: inherit;
    border-bottom: solid 3px rgb(255, 255, 255);  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
    transform-origin: right;
}

.NavLink0:hover:after { transform: scaleX(1); }

.text{
    font-size: 24px;
    margin: 100px 0 0 18px;
}

.Question{
    font-size: 35px;
    text-align: center;
    font-weight: 600;
    margin: 20px;
}

.QuestionText{
    font-size: 35px;
    text-align: center;
    font-weight: 700;
    margin: 25px;
}

.Answers{
    font-weight: 600;
    font-size: 38px;
    text-align: center;
    margin: 20px;
}

.button{
    font-weight: 600;
    width:250px;
    height: 150px;
    color:#000000;
    background-color: #7395AE;
    border-color: #556e7f;
    border-radius: 20px;
    border-width:3px;
    border-style:solid;
    font-size: 25px;
    margin: 15px 0px 10px 60px;
}

.button:hover {
    background-color: #556e7f; 
    color: rgb(255, 255, 255);
  }

  .text0{
    color:#000000;
    font-size: 20px;
  }

  @media (max-width:586px){
    .blok{
        width: 390px;
        height: 470px;
        }
        .button{
            width: 120px;
            height: 80px;
            margin: 15px 0px 10px 50px;
        }
        .NavLink0{
            margin: 150px 0 0 30px;
        }
        .text{
            font-size: 19px;
            margin: 100px 0 0 18px;
        }
  }