.header {
  display: flex;
  justify-content: center;
  }

@keyframes play {
  100% { background-position: -1900px; }
}

  .sign  {
    margin-top:70px ;
    height: 150px;
    font-size: 70px; 
   font-weight: 800;
    line-height: 50px;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    animation: 2s neon-2 alternate-reverse infinite;
}
@keyframes neon-2 {
    from {
        text-shadow: 0 0 7px #ffffff,
        0 0 10px #FFF,
        0 0 15px #FFF,
        0 0 20px #d4d4d4;
    }
    to {
        text-shadow: 0 0 30px #ffffff,
        0 0 35px #ffffff,
        0 0 40px #ffffff,
        0 0 50px #ffffff,
        0 0 800px #ffffff;
    }
}    


@media (max-width:666px){
  .sign .sign_word {
    font-size: 25px;
    margin: 0px 0 0 0px;
}
.header {
  width: auto;
}
}